.headerContainer {
  width: 100%;
  height: 60px;
  background: var(--main-blue);
  position: relative;
}
.header {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.btn {
  margin-top: 12px;
  background: transparent;
  border: none;
  transition: 0.5s ease-in-out;
}

.btn:hover .arrowIcon {
  color: var(--bright-yellow);
  transition: 0.3s all ease-in-out;
}

.arrowIcon {
  font-size: 32px;
  color: white;
}

.pokeball {
  position: absolute;
  top: -30px;
  right: -20px;
  width: 80px;
  height: 80px;
  opacity: 0.4;
}

.wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  gap: 20px;
}

.row {
  width: 100%;
  content-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 850px) {
  .wrapper {
    width: 80%;
  }
  .row {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}
