:root {
  --black: #212529;
  --main-blue: #072ac8;
  --bright-yellow: #fdd85d;
  --dark-yellow: #af8e22;
  --orange: #ff844f;
  --pinky-red: #f14b3d;
  --green: #60d394;
  --gray: #e8e8e8;
  --light-gray: #f8f9fa;
  --really-grey: #595f65;
  --grass: #16c172;
  --poison: #6e44ff;
  --dragon: #2ec4b6;
  --bug: #059669;
  --steel: #73e2a7;
  --dark: #434649;
  --flying: #8b9cad;
  --normal: #c18cba;
  --ghost: #9a54a1;
  --rock: #63320b;
  --ground: #885629;
  --fighting: #c75000;
  --fire: #ef271b;
  --electric: #ffbf00;
  --psychic: #db00b6;
  --fairy: #ee4268;
  --water: #4361ee;
  --ice: #90e0ef;
  --hp: 96, 211, 148;
  --attack: 241, 81, 68;
  --defense: 253, 216, 93;
  --speed: 255, 123, 67;
  --maxhp: 255;
  --maxattack: 190;
  --maxdefense: 230;
  --maxspeed: 200;
}
